%section{:class => "content container"}
  %section{:id => "content", :class => "box container_12"}
    =render "layouts/left_pane"
    %section{:id => "faqs", :class => "omega grid_9"}
      %h1 FAQs
      %span{:class => "imgborder"}
      %ol{:id => "tableofcontents"}
        %li=link_to("Who are the qualified winners for this promo?", "#faq1")
        %li=link_to("How do I get the shirt?", "#faq2")
        %li=link_to("When do I get the shirt?", "#faq3")
        %li=link_to("How often can I claim a shirt?", "#faq4")
        %li=link_to("Can I buy from multiple stores?", "#faq5")
        %li=link_to("How long is the promo?", "#faq6")
        %li=link_to("What is the Multiply Payment Facility?", "#faq7")
        %li=link_to("I have other questions, how can I reach Multiply Philippines?", "#faq8")
      %br
      %br
      %ol
        %li{:id => "faq1"}
          1) Who are the qualified winners for this promo?
          %ul
            %li
              a) You must be a registered Multiply user aged 18 years old and above.
            %li
              b) An order # claim should amount to at least Php 500.
        %li{:id => "faq2"}
          2) How do I get the shirt?
          %ul
            %li
              Your shirt will be delivered to the address you’ve shared with us upon verification of your order # amounting to at least Php 500.
        %li{:id => "faq3"}
          3) When do I get the shirt?
          %ul
            %li
              At the most 4-6 weeks upon validation and verification of your registration and order # amounting to at least Php 500.
        %li{:id => "faq4"}
          4) How often can I claim a shirt?
          %ul
            %li
              You can claim as much shirts as you want provided that you have equal amounts of order # claims amounting to at least Php 500 each.
        %li{:id => "faq5"}
          5) Can I buy from multiple stores?
          %ul
            %li
              Yes you may buy from multiple stores to meet the Php 500 requirement per order #.
        %li{:id => "faq6"}
          6) How long is the promo?
          %ul
            %li
              Promo duration from July 11 to Oct 2, 2011
        %li{:id => "faq7"}
          7) What is the Multiply Payment Facility?
          %ul
            %li
              a) The Multiply payment facility is our initiative to help you purchase from Multiply sellers faster. It basically works like similar shopping cart and checkout facilities.
            %li
              b) Just look for the "Buy Now" (buy the item now) and "Inquire" (haggle with the seller first) button and it will direct you to the Multiply payment and checkout process.
        %li{:id => "faq8"}
          8) I have other questions, how can I reach Multiply Philippines?
          %ul
            %li
              Please email us at 
              %a{:href => "mailto:csph@multiply.com"}csph@multiply.com
              for any inquiry.
      %br
      =link_to("Shop at Multiply Marketplace", "http://multiply.com/marketplace?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B", :class => "shop btn", :rel => "external", :target => "_blank")
