%section{:class => "content container"}
  %section{:id => "content", :class => "box container_12"}
    =render "layouts/left_pane"
    %section{:class => "omega grid_9"}
      %h1 FAQs/Promo Mechanics
      = image_tag("borderContent.png", :class => "imgborder")
      %ol
        %li=link_to("Who are the qualified winners for this promo?", "#")
        %li=link_to("How do I get the shirt?", "#")
        %li=link_to("When do I get the shirt?", "#")
        %li=link_to("How often can I claim a shirt?", "#")
        %li=link_to("Can I buy from multiple stores?", "#")
        %li=link_to("How long is the promo?", "#")
        %li=link_to("What is the Multiply Payment Facility?", "#")
        %li=link_to("I have other questions, how can I reach Multiply Philippines?", "#")
        
      %ol
        %li 
          %a{:id => "1"}
          Who are the qualified winners for this promo?
a)	You must be a registered Multiply user  aged 18 years old and above.
b)	An order # claim should amount to at least Php 500.

2)	How do I get the shirt? 
Your shirt will be delivered to the address you’ve shared with us upon verification of your order # amounting to at least Php 500.

3)	When do I get the shirt?    
At the most 4-6 weeks upon validation and verification of your registration and order # amounting to at least Php 500. 

4)	How often can I claim a shirt? 
You can claim as much shirts as you want provided that you have equal amounts of order # claims amounting to at least Php 500 each.

5)	Can I buy from multiple stores?
Yes you may buy from multiple stores to meet the Php 500 requirement per order #.

6)	How long is the promo?
Promo duration from July 11 to Oct 2, 2011

7)	What is the Multiply Payment Facility?
The Multiply payment facility is our initiative to help you purchase from Multiply sellers faster. It basically works like similar shopping cart and checkout facilities.

Just look for the “Buy Now” (buy the item now) and “Inquire” (haggle with the seller first) button and it will direct you to the Multiply payment and checkout process.

8)	I have other questions, how can I reach Multiply Philippines?
Please email us at csph@multiply.com for any inquiry.

        
      %br
      =link_to("Shop at Multiply Marketplace", "http://multiply.com/marketplace?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B", :class => "shop btn", :rel => "external", :target => "_blank")
