%section{:class => "content container"}
  %section{:id => "content", :class => "box container_12"}
    =render "layouts/left_pane"
    %section{:class => "omega grid_9"}
      %h1 About this site:
      = image_tag("borderContent.png", :class => "imgborder")
      %p{:class => "about"} This is an official Multiply Philippines promo site geared towards reaching out and engaging our customers. This is our way of supporting our merchants who've been with us all throughout and our way of encouraging you to support them-our local entrepreneurs.
      %p{:class => "about"} Over the years, Multiply has transitioned from your favorite social networking service to the Philippines' largest marketplace where you can practically find anything from the simplest shirt to the newest high-end gadgets and what have you.
      %br
      =link_to("Shop at Multiply Marketplace", "http://multiply.com/marketplace?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B", :class => "shop btn", :rel => "external", :target => "_blank")
