%section{:class => "content container"}
  %section{:id => "content", :class => "box container_12"}
    =render "layouts/left_pane"
    %section{:id => "about", :class => "omega grid_9"}
      %h1 Promo Mechanics
      %span{:class => "imgborder"}
      %h2 QUALIFICATIONS/DISQUALIFICATIONS OF PARTICIPANTS:
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Open to Filipino citizens or Philippine residents, who are at least18 years of age at the time of joining, and with registered mailing addresses in the Philippines.
        %li
          %p{:class => "about"} 2. MultiplyPhilippines,McCann Worldgroup Philippines (MRM Worldwide)and other official media partners and sponsors' employees and their relatives up to the second degree of consanguinity are disqualified from joining. 
        %li
          %p{:class => "about"} 3. Must have completed and submitted the applications form on multiplyphilippines.com
        %li
          %p{:class => "about"} 4. Must have a registered Multiply ID. 
        %li
          %p{:class => "about"} 5. Promotion period is from July 11,2011 to October 10, 2011
      %h2 DESCRIPTION OF PROCEDURES:
      %p{:class => "about"} A. How to Join and How to Participate:
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Those qualified and interested to join must click on the "Register Now" link on multiplyphilippines.com listed under the "Get Your Shirt Now!" box.
        %li
          %p{:class => "about"} 2. On the application form, qualified and interested persons (hereinafter referred to as "participant") will be asked to register their complete name, age, contact numbers, address,email address, Multiply ID, size of shirt and agreement to abide by the mechanics of theMultiply Philippinespromotion (hereinafter referred to as "promotion") before they can be allowed to join.
        %li
          %p{:class => "about"} 3. For a minimum purchase of Php 500 in a single order receipt, the participant is qualified for one Multiply Limited Edition Shirt.
        %li
          %p{:class => "about"} 4. To join the promotion, participant must:
          %p{:class => "about"}
            &nbsp;&nbsp;&nbsp;&nbsp;a.	Go tomultiplyphilippines.com
            %br
            &nbsp;&nbsp;&nbsp;&nbsp;b.	Click on the "Register Now" link under the "Get Your Shirt Now!" button. Complete all the required fields of the form. 
            %br 
            &nbsp;&nbsp;&nbsp;&nbsp;c.	Purchase a single order receipt minimum of Php 500 from any Multiply merchant.
            %br
            &nbsp;&nbsp;&nbsp;&nbsp;d.	Wait for Multiply to send you a personal message on Multiply and email notifying you that you are eligible for a limited edition shirt.
      %p{:class => "about"} B. Promo Mechanics 
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Participant should do the following steps to join the promo: 
          %p{:class => "about"}
            &nbsp;&nbsp;&nbsp;&nbsp;a. STEP 1: Shop from any Multiply merchant using the Multiply payment gateway.
            %br
            &nbsp;&nbsp;&nbsp;&nbsp;b. STEP 2: Purchase a minimum of Php 500 worth of items
            %br 
            &nbsp;&nbsp;&nbsp;&nbsp;c. STEP 3: Give us your details, and we'll send you a shirt! 
      %p{:class => "about"} B. How to Claim Prizes and Period of Redemption
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Qualified participant's purchases will be automatically checked through Multiply's backend system. Eligible participants of the Limited Edition promo will be notified via personal message on Multiply and via email.
        %li
          %p{:class => "about"} 2. Multiply Philippines will send the Limited Edition Multiply Shirts, upon validation of purchase, to the mailing address listed in the submitted application form. Multiply will mail the shirts to participants with registered mailing addresses in the Philippines within 60 days of the receipt of mail notification. 
        %li
          %p{:class => "about"} 3. All shirts are non-transferable and not convertible to cash.         
      %p{:class => "about"} D. Promo Duration 
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Participants will only be eligible to win a Limited Edition shirt if Php 500 single order receipt is purchased on Multiply.com from July 11, 2011 at 12:01 am to October 10, 2011 11:59 pm. 
      %p{:class => "about"} E. Claiming Prizes and Period of Redemption 
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. Qualified participant purchases will be automatically checked through Multiply’s backend system.Winners of the Limited Edition promo will be notified via personal message on Multiply and via email. 
        %li
          %p{:class => "about"} 2. Multiply will mail the shirts to winning participants with registered mailing addressesin the Philippines within 60 days of the receipt of mail notification.
      %p{:class => "about"} F. OTHER GUIDELINES:
      %ol{:id => "tableofcontents"}
        %li
          %p{:class => "about"} 1. By joining and participating in this promotion, participants confirm, agree to and acknowledge that:
          %p{:class => "about"}
            &nbsp;&nbsp;&nbsp;&nbsp;a. Multiply Philippines is permitted to receive his/her registration data and that all personal information supplied by him/her will be used by Multiply Philippines in accordance with its privacy policy;
            %br
            &nbsp;&nbsp;&nbsp;&nbsp;b.	Organizers of the promotions have the right to identify him or her as an eligible participant in the promotions and communicate the same at any time in any territory through any medium of release (mass media, digital media, etc.)
            %br 
            &nbsp;&nbsp;&nbsp;&nbsp;c.	Organizers of the promotions may, without further compensation to him/her to: (a) to reproduce, distribute, adapt, modify, make available and/or communicate to the public, exhibit, or broadcast the entries he/she submitted by any means or media without restriction of any kind as to quantity, purpose or time, whether commercial or otherwise, or to any country or territory in the world; and (b) to authorize any of the above activities;
            &nbsp;&nbsp;&nbsp;&nbsp;d.	He/she shall make no reproduction of any part of the websites herein for purposes of selling or distributing the same for commercial gain nor shall he/she modify or incorporate any part of the websites herein in any other work, publication or website.
      %br
      =link_to("Shop at Multiply Marketplace", "http://multiply.com/marketplace?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B", :class => "shop btn", :rel => "external", :target => "_blank")
