%meta{ :charset => "utf-8" }/
%meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/  
%meta{ :name => "description", :content => "Shop from over 125,000 Multiply stores and support local entrepreneurs! Get great deals for electronics, gadgets, clothing, shoes, toys, and many more." }/
%meta{ :name => "copyright", :content => "June 2011"}
%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
%title Multiply | Buy Electronics, Gadgets, Clothing, Shoes, Toys, Games
%link{ :rel => "shortcut icon",  :href => "/favicon.ico"}
%link{ :rel => "apple-touch-icon",  :href => "/apple-touch-icon.ico"}
- if local_assigns[:stylesheet_partial]
  = render :partial => local_assigns[:stylesheet_partial]
= javascript_include_tag 'modernizr.min', 'respond.min', "http://widgets.twimg.com/j/2/widget.js"
= csrf_meta_tag