= javascript_include_tag "jquery.min", "jquery.colorbox.min", "jquery.validate.min", "http://platform.twitter.com/widgets.js", "https://apis.google.com/js/plusone.js"
:javascript
  $(document).ready(function(){
    $(".forms").colorbox({width:"600px", inline:true, href:"#signupform" });
    $("input").live("blur", function(){
      if($(this).valid() == 0)
        $(this).css("background-color", "red");
      else
        $(this).css("background-color", "");
    });
    $("#signup_form").validate({
     submitHandler: function(form){
      $("#submit_btn").attr("disabled", true);
      $.ajax({
        type: 'POST',
        url: '/home',
        data: $("#signup_form").serialize(),
        beforeSend: function(){
          $("#submit_loader").show();
        },
        success: function(){
          $.colorbox({width:"400px;", inline:true, href:"#registeredBox"});
        },
        complete:function(){
          $("#submit_loader").hide();
          $("input").each(function(){
            $(this).val("");
          });
        }
      });
     }
    });
    $("#signup_form").live("submit", function(e){
      e.preventDefault();
      $("input").each(function(index,element){
        if($(this).valid() == 0)
          $(this).css("background-color", "red");
        else
          $(this).css("background-color", "");
      });
    });
    $(".viewmore").live("click", function(e){
      $("#other_items").slideDown("1500");
    });
  });
= yield :javascripts
:javascript
  var _gaq=[["_setAccount","UA-24293888-1"],["_trackPageview"],["_trackPageLoadTime"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));