= javascript_include_tag "jquery.min", "jquery.colorbox.min", "jquery.validate.min", "http://platform.twitter.com/widgets.js", "https://apis.google.com/js/plusone.js"
:javascript
  $(document).ready(function(){
    //$(".forms").colorbox({width:"600px", inline:true, href:"#signupform" });
    $("input[type!='checkbox']").live("blur", function(){
      if($(this).valid() == 0)
        $(this).css("background-color", "red");
      else
        $(this).css("background-color", "");
    });
    $("input[type='checkbox']").live("blur", function(){
      if($(this).valid() == 0)
        $("#checkbox_text").css("color", "red");
      else
        $("#checkbox_text").css("color", "black");
    });
    $("#signup_form").validate({
      submitHandler: function(form){
        $("#submit_btn").attr("disabled", true);
        form.submit();
      }
    });
    $("#signup_form").live("submit", function(e){
      e.preventDefault();
      $("input").each(function(index,element){
        if($(this).valid() == 0)
          $(this).css("background-color", "red");
        else
          $(this).css("background-color", "");
      });
      if(!$('#checkbox').is(':checked'))
        $("#checkbox_text").css("color", "red");
      else
        $("#checkbox_text").css("color", "black");
    });
    $(".viewmore").live("click", function(e){
      $("#other_items").slideDown("1500");
    });
  });
= yield :javascripts
:javascript
  var _gaq=[["_setAccount","UA-24293888-1"],["_trackPageview"],["_trackPageLoadTime"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));