%aside{:class => "omega grid_3"}
  =link_to("Claim Your Cash", "javascript:void(0)", :class => "forms claim btn")
  %section{:id => "howtoBox"}
    %h2 Here's How to Win One Million Pesos:
    %ul{ :id => "posts-list"}
      %li
        %section{:class => "post-number first"}
        %section{:class => "post-content"}
           Shop from any Multiply merchant using the Multiply payment gateway.
      %li
        %section{:class => "post-number second"}
        %section{:class => "post-content"}
          Purchase a minimum of Php 500 worth of items.
      %li{:class => "last"}
        %section{:class => "post-number third"}
        %section{:class => "post-content"}
          Give us your details, and we’ll send you a shirt!
    %section
      %ul{:class => "right"}
        %li=link_to(" Learn More ",  "javascript:void(0)" )
        %li=link_to("", "javascript:void(0)", :class => "learnmore")
  %section{:id => "twitter-box"}
    %h2
      %span{:class => "twitterIcn"}
      Twitter
    .socialmediabox
      :javascript
        new TWTR.Widget({ version: 2, type: "profile", rpp: 7, interval: 6000, width: 250, height: 300, creator: true,
          theme: {
            shell: { background: "#eae9e6", color: "#000000" },
            tweets: { background: "#eae9e6", color: "#000000", links: "#456f9b" }
          },
          features: { scrollbar: false, loop: false, live: false, hashtags: true, timestamp: true, avatars: false, behavior: "all" }
        }).render().setUser("shopatmultiply").start();
  %section{:id => "facebook-box"}
    %h2
      %span{:class => "facebookIcn"}
      Facebook
    .socialmediabox
      =link_to("Shop at Multiply", "//www.facebook.com/shopatmultiply", :target => "_TOP", :style => "font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;", :title => "Shop at Multiply")
      %br
      =link_to(image_tag("//badge.facebook.com/badge/172651079453591.1937.470419547.png", :width => "120", :height => "400", :style => "border:0px"), "http://www.facebook.com/shopatmultiply", :target => "_TOP", :title => "Shop at Multiply")
      %br
      =link_to("Promote Your Page Too", "//www.facebook.com/business/dashboard/", :target => "_TOP", :style => "font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;", :title => "Make your own badge!")