%div{:style => "display:none"}
  #signupform{ :style => "background:#fff;overflow:hidden"}
    %section{ :class => "nav formheader"}
      %section{ :id => "logo"}
        &nbsp;
        =link_to(image_tag("multiply.png"), "http://multiply.com?utm_source=semmicrosite%2B&utm_medium=link%2B&utm_campaign=semmicrosite%2B")
    %h3{:class => "register"} Register to get your shirt now!
    %span{:class => "imgborder"} 
    =form_tag(home_path, :id => "signup_form") do
      %ul{ :id => "signup"}
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Multiply ID
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("muid", "", :placeholder => "kimstore", :class => "required")
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Name
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("name", "", :placeholder => "John Doe", :class => "required")
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Age
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("age", "", :placeholder => "18", :class => "required digits", :minlength => "2", :maxlength => 2)
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Contact Number
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("num", "", :placeholder => "6300012345678", :class => "required digits")
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Address
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("add", "", :placeholder => "1 San Miguel Ave", :class => "required")
        %li{ :class => "signupForm"}
          %ul
            %li{ :class => "label"}
              %h2
                Size of Shirt
                %span{ :class => "red"} *
            %li{ :class => "textfield"}=text_field_tag("size", "", :placeholder => "Small", :class => "required")
        
        %li{ :class => "signupForm"}
          %ul
            %li{ :style => "width:30px;margin-left:45px;"}
              %h2
                =check_box_tag("checkbox", "", false, :class => "required")
                %span{ :class => "red"} *
            %li{ :style => "float:left;", :id => "checkbox_text"}
              I agree to abide by the 
              =link_to("mechanics", promo_url)
              of the Multiply Limited Edition Promo
      %button{:class => "registered submit btn", :type => "submit", :id => "submit_btn"} Submit
      =image_tag("loading.gif", :id => "submit_loader")
    #signupDet
      %span{:class => "red"} *
      Required Fields
      %br
      %span{:class => "red"} *
      Your information is safe with us!