!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  %body{ :class => "home", :id => "index" }    
    %section{ :class => "nav container" }
      %nav{ :class => "box container_12" }
        %section{ :id => "logo" }
          =link_to(image_tag("multiply.png"), root_url)
        %ul{ :id => "navigation" }
          %li=link_to("Home", root_url)
          %li=link_to("How to Join", root_url)
          %li=link_to("Shop at Multiply", "//multiply.com/marketplace", :rel => "external", :target => "_blank")
          %li=link_to("About", root_url)
    %section{ :class => "header container"}
      %header{ :class => "box container_12"}
    = yield
    %footer{ :class => "box container_12" }
    = render "layouts/javascripts"
